# doc directory
doc

# binaries
compress
perftest
perftest2
biotest
pgm2h
aquas

# backup files
*~

# object files
*.o

# image files
*.pgm

# Makefile overlay
Makefile.local

# profiling files
*.gcda
